.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
}

.footer {
	flex: 0 0 auto;
    /* background: url(/img/pattern-white.jpg); */
    padding: 40px 0px;
    box-shadow: -1px 0px 8px 0px rgba(0, 0, 0, 0.3);
}

.footer-nav {

}