.yellow {
    color: #FFD25B;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.5;
}
body a {
    color: black;
}
/* .fw-700 {
    font-weight: 600;
} */
.anchor-dir {

}
.txt-white {
    color: white;
}
.txt {
    font-size: 18px;
}
.txt-bgc {
    background-color: #000000bb;
    border-radius: 10px;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
}

.section {
    padding: 70px 0px;
    background-color: #fff;
}
.section-policy {
    padding: 70px 0px;
    background-color: #fff;
    margin: 70px 0px 0px;
}
.section-main {
    color: white;
    margin: 70px 0px 0px;
    background: url(/img/main-img2000.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-grey {
    background-color: #f5f5f5;
  }
  .section-about {
    color: white;
    padding: 100px 0px;
    background: url(/img/pattern.jpg);
    background-attachment: fixed;
 }
.main {
    display: flex;
    flex-direction: column;
}

.main-sub-title-wrap {
    display: flex;
    margin-top: 40px;
    align-items: center;
}
.title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 18px;
    line-height: 1.4;
    hyphens: auto;
  }
  .sub-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.7;
    /* margin-bottom: 55px; */
  }
.main-title-btn {
    margin-top: 55px;
    width: max-content;
    align-self: center;
    font-weight: 700;
    display: inline-block;
    font-size: 20px;
    background-color: #fff;
    color: #000;
    padding: 20px 50px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.671);
}
.main-title-btn:hover {
    box-shadow: 0px 4px 8px rgb(255, 255, 255);
    transform: translateY(-2px);

  }

.advantages {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.advantage-item {
    display: flex;
    flex-basis: 50%;
    margin-top: 40px;
    align-items: center;

}
.advantage-icon {
    height: 60px;
    margin-right: 20px;
}
 .txt-mr {
    margin-right: 30px;
 }



.label-wrap {
    display: flex;
    flex-direction: column;
    /* margin-right: 20px; */
    flex-basis: 33.333%;
}

.about {
}
.about__img {
    width: 300px;
}
.form-label {
    margin-bottom: 15px;
}
.form-input {
    background-color: #ffffff;
    padding: 10px 30px;
    border-radius: 20px;
    width: 300px;
    margin-bottom: 15px;
    font-size: 18px;
    
}
.form {
    display: flex;
    align-items: center;
}
.form-wrap {
    display: flex;
    flex-direction: column;
}
.form-btn {
    padding: 20px 40px;
    background-color: #ffffff;
    border-radius: 20px;
    margin-top: 20px;
    width: 300px;
}

.form-img {
    height: 500px;
    margin-left: auto;
    /* height: 600px; */
    /* margin-left: 100px; */
}
.form-textarea {
    border-radius: 20px;
    padding: 30px;
    font-size: 18px;
    width: 300px;
}

.privacy-policy {
    margin-top: 20px;
}


.item-mar {
    margin-top: 150px;
    margin-left: 50px;
}
.directions {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.direction-item {
    flex-basis: calc(50% - 25px) ;
}
.direction-img-wrap {
    
}
.direction-img {
    width: 100%;
    object-fit: cover;
    /* height: 400px; */

/* 
    width: 100%;
    height: 400px;
    object-fit: cover; */
}
.direction__title {
    font-size: 25px;
    font-weight: 700;
    margin:  15px 0px 10px;
    hyphens: auto;
}
.direction__text {
    font-size: 18px;
    font-weight: 400;
}
.direction__text:nth-of-type(1n) {
    margin-bottom: 15px;
}
.contacts {
    display: flex;
}
.contacts-wrap {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}
.contact-item {
    display: flex;
    flex-direction: column;
}
.contacts__sub-title { 
    font-size: 20px;
    font-weight: 700;
    margin: 15px 0px;
}
.contacts-txt {
    color: grey;
}

#map {
    width: 100%;
    height: 400px;
    margin-top: 20px;
}
/* .map-img {
    width: 100%;
    height: 100%;
} */


.privacypolicy {
    margin-bottom: 50px;
  }
  
  .privacypolicy__title {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 700;
  }
  
  .privacypolicy__info-title {
    font-weight: 600;
    font-size: 20px;
    margin: 20px 0px;
  }
  