.swiper-icon {
    height: 100px;
    background-color: #ffd25b;
    padding: 20px;
    border-radius: 20px;
    
  }
  .swiper-slide {

  }
  .swiper-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
  }
  .swiper-txt {
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
  }
  .swiper-galery{
    max-height: 400px;
  }
.swiper-category {
  margin-top: 70px;
}
  .swiper-slide-gallery {
    padding: 0px 15px;
    overflow: hidden;
  }

  .swiper-img {
    width: 100%;
    object-fit: contain;
    /* max-width: 100%; */
}





